{% extends 'base.html.twig' %}

{% block title %}Nouvelle note{% endblock %}

{% block body %}
<div class="note-form-container">
  <div class="note-form">
    {{ form_start(form) }}
    {{ form_widget(form.title) }}
    {{ form_widget(form.content) }}
    <div class="note-button">
        {{ form_widget(form.save, {label: ' '}) }}
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" viewBox="0 0 41.681 31.082">
          <path id="Icon_awesome-check" data-name="Icon awesome-check" d="M14.157,35.049.61,21.5a2.084,2.084,0,0,1,0-2.947l2.947-2.947a2.084,2.084,0,0,1,2.947,0l9.125,9.125L35.176,5.188a2.084,2.084,0,0,1,2.947,0l2.947,2.947a2.084,2.084,0,0,1,0,2.947L17.1,35.049A2.084,2.084,0,0,1,14.157,35.049Z" transform="translate(0 -4.577)" fill="#e90d00"/>
        </svg>
    </div>
    {# Faire un dropdown menu ? #}
    <select name="categories" multiple>
      <option value="volvo">Exemple catégorie</option>
    </select>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
