{% extends 'base.html.twig' %}

{% block title %}Note: {{ note.title }}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <div class="note show-note">
      <h2>{{ note.title }}</h2>
      <div class="tags">
        {% for category in note.categories %} 
          <span class="tag">#{{ category.name }}</span>
        {% endfor %}
      </div>
      <code>{{ note.content|raw }}</code>
    </div>
    <a class="note-button" href="{{ path('note_delete', {'id': note.id}) }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 22.016 27.756">
        <path id="Exclusion_2" data-name="Exclusion 2" d="M212.992-255.243a11.87,11.87,0,0,1-7.756-2.787,8.838,8.838,0,0,1-3.219-6.715,8.917,8.917,0,0,1,1.595-5.622,27.276,27.276,0,0,1,3.974-4.387c2.472-2.365,5.027-4.81,5.431-8.245a15.174,15.174,0,0,1,4.723,3.485,22.649,22.649,0,0,1,3.447,4.893,22.946,22.946,0,0,1,2.829,9.876c0,5.236-4.933,9.5-11,9.5,2.851,0,5.17-2.009,5.17-4.472a10.8,10.8,0,0,0-1.332-4.649,8.767,8.767,0,0,0-3.846-3.944c-.19,1.617-1.393,2.768-2.556,3.881-1.35,1.292-2.746,2.627-2.621,4.712,0,2.457,2.314,4.463,5.158,4.472Z" transform="translate(-202 283)" fill="#e90d00"/>
      </svg>
    </a>
    <a class="note-button edit" href="{{ path('note_edit', {'id': note.id}) }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 56.724 56.724">
        <path id="Union_20" data-name="Union 20" d="M-3646.967-1848.1a8.681,8.681,0,0,1-8.672-8.672v-36.2a8.681,8.681,0,0,1,8.672-8.672h18.1a3.5,3.5,0,0,1,3.5,3.5,3.5,3.5,0,0,1-3.5,3.5h-18.1a1.673,1.673,0,0,0-1.672,1.672v36.2a1.673,1.673,0,0,0,1.672,1.672h36.2a1.673,1.673,0,0,0,1.672-1.672v-18.1a3.5,3.5,0,0,1,3.5-3.5,3.5,3.5,0,0,1,3.5,3.5v18.1a8.681,8.681,0,0,1-8.672,8.672Zm20.9-29.567a3.517,3.517,0,0,1-.921-3.323l1.5-6a3.5,3.5,0,0,1,.921-1.627l14.25-14.25a6.638,6.638,0,0,1,4.725-1.957,6.634,6.634,0,0,1,4.725,1.957,6.637,6.637,0,0,1,1.957,4.725,6.637,6.637,0,0,1-1.957,4.725l-14.25,14.25a3.5,3.5,0,0,1-1.627.921l-6,1.5a3.537,3.537,0,0,1-.85.1A3.474,3.474,0,0,1-3626.071-1877.663Z" transform="translate(3655.638 1904.82)" fill="#e90d00"/>
      </svg>
    </a>
</div>
{% endblock %}
